div.carousel {
  height: 450px;
  width: 800px;
}

div.carousel > div.items {
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

div.carousel > div.items > *:not(.active) {
  display: none;
}

div.carousel > div.items > *.active {
  position: absolute;
  left: 0%;
  width: 100%;

  transition: left 500ms linear;
}

div.carousel > div.items > *.active.left {
  left: -100%;
}

div.carousel > div.items > *.active.right {
  left: 100%;
}
